.DS_Store
Thumbs.db

backend/.env
backend/.env.*
!backend/.env.example
backend/vendor/
backend/node_modules/
backend/public/build/
backend/database/database.sqlite
backend/storage/app/public/*
!backend/storage/app/public/.gitignore
backend/storage/logs/*
!backend/storage/logs/.gitignore
backend/storage/framework/cache/*
!backend/storage/framework/cache/.gitignore
backend/storage/framework/cache/data/*
!backend/storage/framework/cache/data/.gitignore
backend/storage/framework/sessions/*
!backend/storage/framework/sessions/.gitignore
backend/storage/framework/testing/*
!backend/storage/framework/testing/.gitignore
backend/storage/framework/views/*
!backend/storage/framework/views/.gitignore

frontend/.env
frontend/.env.*
!frontend/.env.example
frontend/node_modules/
frontend/dist/
frontend/*.log
.tmp/
